body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: midnightblue;
}
th {
    background-color: steelblue;
}
.tags span {
    font-family: "Courier New", monospace;
    background-color: royalblue;
}